@model Cashfluir.Web.Models.Users.IndexViewModel
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Redigera Användare</h2>

<ul>
    @foreach (var user in Model.Users)
    {
        <li>@Html.ActionLink(user.Name, "Edit", new{ id = user.Id})</li>
    }
</ul>

@Html.ActionLink("Skapa ny användare", "Create")

