@model Cashfluir.Web.Models.Categories.IndexCategoryViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Redigera Kategorier</h2>

<ul>
    @foreach (var category in Model.Categories)
    {
        <li>@Html.ActionLink(category.Name, "Edit", new { id = category.Id })</li>
    }    
</ul>

@Html.ActionLink("Skapa ny kategori", "Create")
