@model Cashfluir.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<ul>

@foreach (var userbalance in Model.UserBalances)
{
    <li>@userbalance.User.Name @(userbalance.TotalAmountPaid-userbalance.TotalExpenses)</li>
}

</ul>