@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    @Html.ActionLink("User", "Index", "User")
    
    @Html.ActionLink("Categories", "Index", "Category")
    
    @Html.ActionLink("Expenses", "Index", "Expense")
</p>
